/* .padding {
  padding: 2rem !important;
} */

.card {
  margin-bottom: 30px;
  border: none;
  -webkit-box-shadow: 0px 1px 2px 1px rgba(154, 154, 204, 0.22);
  -moz-box-shadow: 0px 1px 2px 1px rgba(154, 154, 204, 0.22);
  box-shadow: 0px 1px 2px 1px rgba(154, 154, 204, 0.22);
}

.card-header {
  background-color: #fff;
  border-bottom: 1px solid #e6e6f2;
}

h3 {
  font-size: 20px;
}

h5 {
  font-size: 15px;
  line-height: 26px;
  color: #3d405c;
  margin: 0px 0px 15px 0px;
  font-family: "Circular Std Medium";
}

.text-dark {
  color: #3d405c !important;
}

.btn-circle {
  margin-top: 10px;
  border-radius: 15px;
}

@media print {
  .hide-on-print {
    display: none;
  }
}
/* 
.table-responsive .table {
  max-width: none;
  -webkit-overflow-scrolling: touch !important;
} */
