.jumbotron {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1)),
    url("https://lh3.googleusercontent.com/2PENcpvjIx5mx47Y3d5Bn2YYjQ4wSzUt3rvTY-APAXoGs_pG_Xp3vu1Z5uSYZE2zl3HWKr7XyHFX9aTgYN4jjJOStwKWr39rAoRyNhABOtWVQpEEJ1mIWdp_EKjTkE9yAqtq7OwhCpb5ALc_gD3t9XuKmRySlDFKHUPmYpmAVJlGzXcr8tLQHKL39z7Z40ekhQ_XB-CLaVDbuTLMMph-_H_QyNwrc3HjN5SWK1YqFbyAWzrC1AVenSr-D0SrYCdWf4ZVHgOzBAOb3CXhqXRf40zZ-bYtDaf6m_XqLL_TZ3d4kgr3JI_IGeISHlk8eGMni4nkV9FcSMHCX70z1t3irmGvReZ73J-2iFZnyw-NAAQIM71vpVNy2QaCNTMTRBfryRtD7wFPwOweSbHlEToZR1qw1suzD4IQL2OrvNro7DSOEpSpGCESURubzG8-qt-ZAZZICyjolfVGC1RhO5LiOmJoEJGR-69mK_Sy7_9jVTWfL4aeHI-vhkfaGpxKHbC-InU89h0IpJFMNM9IXfWTOrfhfPQkd1vRYYGMaEVUnIz_854OzQNmSU6WGtLRqn5YILIOT-fe10pAvyxXctvj1qQefvCBt67Hgu_zNIYqowfFJ2Bgu0gyxbMWVXRJC16Tit9nPOoobaRtozrAoW0AXyb8ZR3NyBU8AEEUPPJNWcfvfWf7ozhyPK5mKcd0dA=w984-h1312-no");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  height: 80%;
}

header .container {
  padding-top: 100px;
  padding-bottom: 200px;
  text-shadow: 2px 2px 0px rgba(150, 150, 150, 1);
}

header .btn {
  border-color: #1f6ea9;
  background-color: white;
  text-shadow: none;
}

.intro-text .naslov {
  display: block;
  font-family: "Luckiest Guy", cursive;
  font-size: 70px;
  color: white;
  text-shadow: 2px 2px black;
}

h2 {
  font-family: "Luckiest Guy", cursive;
  font-size: 50px;
  color: #1f6ea9;
  padding-top: 30px;
  padding-bottom: 30px;
}

.ikonica {
  font-size: 50px;
  padding: 20px;
}
.intro-text .tekst {
  color: white;
  text-shadow: 1px 1px 15px rgba(0, 0, 0, 1);
  font-size: 30px;
  font-weight: bold;
  padding: 30px 0;
}
hr.star-primary {
  margin: 25px auto 30px;
  padding: 0 0 30px 0; /* samo bottom ima padding */
  max-width: 250px;
  border: 0;
  border-top: solid 5px;
  text-align: center;
  border-color: #1f6ea9;
}

hr.star-primary:after {
  content: "\f006";
  position: relative;
  top: -0.8em;
  padding: 0 0.25em;
  font-family: FontAwesome;
  font-size: 2em;
  color: #1f6ea9;
  background-color: #fff;
}

footer,
#portfolio {
  background-color: rgb(221, 238, 255);

  padding: 30px 0;
}

/* #portfolio hr.star-primary:after {
  background-color: rgb(221, 238, 255);
} */

.img-zoom img {
  width: 300px;
  height: auto;
  transition: 0.3s ease-in-out;
}
.img-zoom:hover img {
  width: 350px;
}
